body{
	margin:0px;
	padding:0x;
	background:black;	
}
.header{
	height:100vh;
	/* border:2px solid red; */
	background:black;
}

.header .nav-holder{
	/* border:1px solid lime; */
	display:flex;
	height:85px;
	
}

.header .nav-holder .nav-bar{
	/* border:2px solid blue; */
	height:85px;
	width:600PX;
	margin-left:120PX;	
}
/* .header .nav-holder .nav-bar:after{ */
	/* content:''; */
	/* clear:both; */
	/* display:table; */
/* } */
.header .nav-holder .nav-bar .main{
	/* border:2px solid red; */
	/* float:right; */
	/* position:relative; */
	margin-top:35PX;
	color:white;
	list-style:none;
	display:flex;
	/* align-items:center; */
	/* justify-content:center; */
	
}
.header .nav-holder .nav-bar .main .list1{
	border:1px solid rgb(85, 182, 182);
	/* padding:0; */
	/* margin:0; */
	/* float:left; */
	display:flex;
	align-items: center;
	justify-content: center;
	margin-left:10PX;
	height:35px;
	width:150px;
	padding:2px 15px;
	/* font-weight:bold; */
	
	font-family: sans-serif;
	/* font-style: obliques; */
	color:white;
	
}
/* .header .nav-holder .nav-bar .main .list1 a{
	color:white;
	
	text-decoration:none;
}
.header .nav-holder .nav-bar .main .list1 a:hover{
	color:rgb(127, 199, 199);
	/* text-decoration: underline; */

.header .nav-holder .nav-bar .main .list1:hover{
	/* box-shadow: 1px 1px 3px 1px aqua; */
	cursor:pointer;
	/* text-decoration: underline; */
	color:rgb(127, 199, 199);


	
}


/* Item------------------------------------> */
.header .nav-holder .nav-bar .main .list1 .main-l1{
	/* margin:0; */
	padding:0;
	width:130px;
	/* border:1px solid red; */
	list-style:none;
	/* display:flex; */
	margin-top:170px;
	margin-left:-1px;
	/* float:left; */
	position: absolute;
	z-index: 2;
	
}

.header .nav-holder .nav-bar .main .list1 .main-l1 .sub-l1{
	/* border:1px solid blue; */
	display:flex;
	padding:4px 5px;
	margin:2px 0px;
	height:30px;
	font-size:12px;
	/* position: relative; */
	box-shadow:2px 2px 4px LightPink,2px 2px 4px purple,2px 2px 4px yellow;	
	color: rgb(245, 214, 218);
}
.header .nav-holder .nav-bar .main .list1 .main-l1 .sub-l1:hover{
	color: rgb(173, 121, 173);
}

.header .nav-holder .nav-bar .main .list1 .main-l1 .sub-l1 a{
	color:white;
	font-size:12px;
}
.header .nav-holder .nav-bar .main .list1 .main-l1 .sub-l1 a:hover{
	color: rgb(173, 121, 173);
}
.header .nav-holder .nav-bar .main .list1 .main-l1 .sub-l1:hover{
	box-shadow:2px 2px 4px LightPink,2px 2px 4px blue,2px 2px 4px purple,2px 2px 4px yellow;	
}
/* more-----------------------------> */
.header .nav-holder .nav-bar .main .list1 .main-l1 .sub1 .sort-up{
	border: 1px solid orange;
	margin-top: 0px;
	margin-left: 110px;
	height: 23px;
	font-size: 15px;
	padding: 2px;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	position: absolute;
}
/* .header .nav-holder .nav-bar .main .list1 .main-l1 .sub1 .sort-down{
	border: 1px solid blue;
	margin-left: 100px;
	margin-top: 3px;
	font-size: 15px;
	height: 13px;
	padding: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
} */
.header .nav-holder .nav-bar .main .list1 .main-l1 .sub1 .submenu-1{
	/* border:1px solid red; */
	list-style:none;
	padding:0;
	/* display:flex; */
	/* align-items: center;
	justify-content: center; */
	/* width:100px; */
	text-align: center;
	height:100px;
	margin-left:90px;	
	margin-top:-7px;

}

.header .nav-holder .nav-bar .main .list1 .main-l1 .sub1 .submenu-1 .sub{
	/* border:1px solid blue; */
	/* display:flex; */
	padding:4px 5px;
	margin:2px 0px;
	width:120px;
	height:30px;
	color: rgb(245, 214, 218);
	box-shadow:2px 2px 4px LightPink,2px 2px 4px purple,2px 2px 4px yellow;		
}
.header .nav-holder .nav-bar .main .list1 .main-l1 .sub1 .submenu-1 .sub:hover{
	box-shadow:2px 2px 4px LightPink,2px 2px 4px blue,2px 2px 4px purple,2px 2px 4px yellow;	
}

#item-list{
	display:none;
}
#item:hover  #item-list{
	display:block;
} 
 /* #down{
	display:none;
} */
/* #up:hover ~ #down{
	display: block;
	z-index: 2;
} */
#more-item{
	display: none;
}
#up:hover ~ #more-item{
	display: block;
}




/* popular-item----------------> */
/* .header .nav-holder .nav-bar .main .list1 .main-l2{
	border:1px solid red;
	padding:0;
	width:125px;
	list-style:none;
	display:inline-block;
	margin-top:7px;
	margin-left:-17px;
	position: absolute;
	z-index: 2;
	
} */
.header .nav-holder .nav-bar .main .list1 .main-l2{
	padding:0;
	width:130px;
	/* border:1px solid red; */
	list-style:none;
	/* display:flex; */
	margin-top:135px;
	margin-left:-1px;
	/* float:left; */
	position: absolute;
	z-index: 2;
}
.header .nav-holder .nav-bar .main .list1 .main-l2 .sub-l2{
	/* border:1px solid blue; */
	display:flex;
	font-size:12px;
	padding:4px 5px;
	margin:2px 0px;
	height:30px;
	box-shadow:2px 2px 4px LightPink,2px 2px 4px purple,2px 2px 4px yellow;	
	color: rgb(245, 214, 218);
	
}
/* .header .nav-holder .nav-bar .main .list1 .main-l2 .sub-l2 a{
	color: white;
}
.header .nav-holder .nav-bar .main .list1 .main-l2 .sub-l2 a:hover{
	color: rgb(173, 121, 173);
} */
.header .nav-holder .nav-bar .main .list1 .main-l2 .sub-l2:hover{
	box-shadow:2px 2px 4px LightPink,2px 2px 4px blue,2px 2px 4px purple,2px 2px 4px yellow;
	color: rgb(173, 121, 173);	
}


#popular-item-list{
	display:none;
}
#popular-item:hover  #popular-item-list{
	display:block;
}




/* nav bar start-------------------> */









/* nav bar end-------------------> */















/* logo-----------------------------------> */
.header .nav-holder .main-logo{
	/* border:1px solid red; */
	display:flex;
	margin-left:2PX;
	width:250PX;
	background: url(../image/4.jpg) no-repeat center center / cover ;
}



.header .logo-bar{
	/* border:2px solid orange; */
	display:flex;
	width:125px;
	height:200PX;
	margin-top:200px;
	/* cursor: pointer;	 */
	
}
.header .logo-bar .logo-holder{
	/* border:2px solid red; */
	width:100%;
	z-index:5;
		
	
}
.header .logo-bar .logo-holder .logo{
	/* border:2px solid aqua; */
	position:relative;
	height:18%;
	display:flex;
	
	
	
}

.header .logo-bar .logo-holder .logo1 .fb-logo{
	/* border:2px solid blue; */
	display:flex;
	align-items:center;
	justify-content:center;
	margin-left:4%;
	width:22%;
	height:78%;
	/* color:white; */
	/* background:LightBlue; */
	box-shadow: 2px 2px 4px aqua,2px 2px 4px aqua;;
	/* font-size:18px; */
	z-index:1;
	transform:rotateZ(45deg);
	/* transition:1s;	 */
	cursor: pointer;	
}

.header .logo-bar .logo-holder .logo1 .fb-logo .box1{
	/* border:2px solid red; */
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:18px;
	width:50%;
	color:white;
	transform:rotateZ(-45deg);
	
}

.header .logo-bar .logo-holder .logo1 .nm1{
	/* border:2px solid pink; */
	position:absolute;
	top:0%;
	left:-110%;
	margin-left:31%;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	height:92%;
	width:68%;
	font-size:15px;
	/* background:LightPink; */
	box-shadow: 2px 2px 4px LightPink,2px 2px 4px purple,2px 2px 4px yellow;
	
}

/* .header .logo-bar .logo-holder .logo1:hover .nm1{ */
	/* left:0%; */
	/* transition:1s;	 */
/* } */

#fb_logo_id:hover ~ #fb_text_link{
	
	left:0%;
	transition:1s;	
	/* color:red; */
}





 .header .logo-bar .logo-holder .logo2 .insta-logo{
	/* border:2px solid blue; */
	display:flex;
	align-items:center;
	justify-content:center;
	margin-left:4%;
	margin-top:2%;
	width:22%;
	height:78%;
	color:white;
	/* background:LightBlue; */
	box-shadow: 2px 2px 4px aqua,2px 2px 4px aqua;
	/* font-size:18px; */
	z-index:1;
	transform:rotateZ(45deg);
	/* transition:1s;	 */
	cursor: pointer;	
}
.header .logo-bar .logo-holder .logo2 .insta-logo .box2{
	/* border:2px solid red; */
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:18px;
	width:50%;
	color:white;
	transform:rotateZ(-45deg);
	
}
.header .logo-bar .logo-holder .logo2 .nm2{
	/* border:2px solid red; */
	position:absolute;
	top:0%;
	left:-110%;
	margin-left:31%;
	margin-top:1%;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	height:87%;
	width:68%;
	font-size:15px;
	/* background:LightPink; */
	box-shadow: 2px 2px 4px LightPink,2px 2px 4px purple,2px 2px 4px yellow;
	
}
#insta_logo_id:hover ~ #insta_text_link{
	
	left:0%;
	transition:1s;	
	/* color:red; */
}

.header .logo-bar .logo-holder .logo3 .whatsapp-logo{
	/* border:2px solid blue; */
	display:flex;
	align-items:center;
	justify-content:center;
	margin-left:4%;
	margin-top:2%;
	width:22%;
	height:78%;
	color:white;
	/* background:LightBlue; */
	box-shadow: 2px 2px 4px aqua,2px 2px 4px aqua;
	/* font-size:18px; */
	z-index:1;
	transform:rotateZ(45deg);
	/* transition:1s;	 */
	cursor: pointer;	
}
.header .logo-bar .logo-holder .logo3 .whatsapp-logo .box3{
	/* border:2px solid red;  */
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:18px;
	width:50%;
	color:white;
	transform:rotateZ(-45deg);
}
.header .logo-bar .logo-holder .logo3 .nm3{
	/* border:1px solid red; */
	position:absolute;
	top:0%;
	left:-110%;
	color:white;
	display:flex;
	align-items:center;
	justify-content:center;
	/* left:-110%; */
	margin-left:31%;
	height:92%;
	/* margin-top:1%; */
	width:68%;
	font-size:15px;
	box-shadow: 2px 2px 4px LightPink,2px 2px 4px purple,2px 2px 4px yellow;
	
}
#whatsapp_logo_id:hover ~ #whatsapp_text_link{
	
	left:0%;
	transition:1s;	
	/* color:red; */
}
.header .logo-bar .logo-holder .logo4 .mail-logo{
	/* border:2px solid blue; */
	display:flex;
	align-items:center;
	justify-content:center;
	margin-left:4%;
	margin-top:2%;
	width:22%;
	height:78%;
	color:white;
	/* background:LightBlue; */
	box-shadow: 2px 2px 4px aqua,2px 2px 4px aqua;
	/* font-size:18px; */
	z-index:1;
	transform:rotateZ(45deg);
	/* transition:1s;	 */
	cursor: pointer;	
}
.header .logo-bar .logo-holder .logo4 .mail-logo .box4{
	/* border:2px solid red;  */
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:18px;
	width:50%;
	color:white;
	transform:rotateZ(-45deg);
}
.header .logo-bar .logo-holder .logo4 .nm4{
	/* border:1px solid red; */
	position:absolute;
	top:0%;
	left:-110%;
	color:white;
	display:flex;
	align-items:center;
	justify-content:center;
	/* left:-110%; */
	margin-left:31%;
	height:92%;
	/* margin-top:1%; */
	width:68%;
	font-size:15px;
	box-shadow: 2px 2px 4px LightPink,2px 2px 4px purple,2px 2px 4px yellow;
	
}
#mail_logo_id:hover ~ #mail_text_link{
	left:0%;
	transition:1s;	
	/* color:red; */
}
.header .logo-bar .logo-holder .logo5 .twitter{
	/* border:2px solid blue; */
	display:flex;
	align-items:center;
	justify-content:center;
	margin-left:4%;
	margin-top:2%;
	width:22%;
	height:78%;
	color:white;
	/* background:LightBlue; */
	box-shadow: 2px 2px 4px aqua,2px 2px 4px aqua;
	/* font-size:18px; */
	z-index:1;
	transform:rotateZ(45deg);
	/* transition:1s;	 */
	cursor: pointer;	
}

.header .logo-bar .logo-holder .logo5 .twitter .box5{
	/* border:2px solid red;  */
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:18px;
	width:50%;
	color:white;
	transform:rotateZ(-45deg);
}

.header .logo-bar .logo-holder .logo5 .nm5{
	/* border:1px solid red; */
	position:absolute;
	top:0%;
	left:-110%;
	color:white;
	display:flex;
	align-items:center;
	justify-content:center;
	/* left:-110%; */
	margin-left:31%;
	height:92%;
	/* margin-top:1%; */
	width:68%;
	font-size:15px;
	box-shadow: 2px 2px 4px LightPink,2px 2px 4px purple,2px 2px 4px yellow;	
}
#twitter_logo_id:hover ~ #twitter_text_link{
	left:0%;
	transition:1s;	
	/* color:red; */
}



 /* slide--------------------------->  */

.header .maindiv{
	border:2px solid rgb(170, 54, 122);
    /* width:93vw; */
	width:50vw;
	/* height:87vh; */
	height: 60vh;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50% ,-40%);
	/* margin:85px 45px; */

	/* margin-top:200px; */
	background: url(../image/c2.jpg) no-repeat center center / COVER;
	/* box-shadow: 1px 1px 10px 1px aqua,1px 1px 2px white; */
	animation:slide 25s infinite ease-in-out;
}
@keyframes slide{
	0% {background: url(../image/c2.jpg) no-repeat center center / cover;}
	35%{background: url(../image/c8.jpg) no-repeat center center / cover;}
	75%{background: url(../image/c9.jpg) no-repeat center center /cover;}
}  

.header .maindiv .txt{
	/* border: 1px solid blue; */
	text-align: center;
	font-size: 50px;
	font-style: oblique;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 500;
	/* margin-top: 10px; */
	color: rgba(9, 223, 238, 0.4);
	
	
}

#text{
	display: none;
}
#main:hover #text{
	display: block;
	/* left:0%; */
}